{% extends 'index.html' %}
{% block content %}
<div class="container-lg mt-3">
    <h1>Домены</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
            </thead>
            {% for domain in urls %}
                <tbody>
                    <tr>
                        <td>{{ domain.id }}</td>
                        <td><a href="{{url_for('show_url', id=domain.id)}}">{{ domain.name }}</a></td>
                        <td>{{ domain.created_at }}</td>
                        <td>{{ domain.status_code }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}